<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Querier</title>
</head>
<body>
    <h1> Database Query Page </h1>
    <br>
    <form action="#" method="post" th:object="${query}" th:action="@{/database/queryInput}">
        <p>
            Enter name of book and number of books to show here 
            <input type="text" th:field="*{name}"/>
            <input type="number" th:field="*{limit}" min="1"/>
            <input type="submit" value="Search"/>
        </p>
    </form>
</body>
</html>